.App {
  text-align: center;
}
.ore-picture{
  height: 240px;
  width: 12%;
}
.my-1{
  padding-top: 10px;
}
.jb{
  height: 910px;
}
.Navbar{
  height: 80px;
}

.button_top{
  padding-top: 40px;
  padding-bottom: 30px;
}